# Fundamentals of Data Analysis Assignment
The assignment concerns the well-known Anscombe’s quartet dataset. We are required to create a Jupyter notebook analysing the dataset. There are four distinct tasks to be carried out in your Jupyter notebook.

1. Explain the background to the dataset – who created it, when it was created, and any speculation you can find regarding how it might have been created.
2. Plot the interesting aspects of the dataset.
3. Calculate the descriptive statistics of the variables in the dataset.
4. Explain why the dataset is interesting, referring to the plots and statistics above.

# Anscombe’s quartet dataset

## Analysis

Anscombe’s quartet dataset was contructed in 1973 by the statistician Francis Anscombe. This is an interesting set of data which clearly provides a useful caution against applying individual statistical methods to data without graphing them. The dataset shows the effects of outliers on Statistical properties. This data set has identical Statiscal properties but has a totally different view when graphed, this article described the difference among the statisticians that"numerical calculations are exact, but graphs are rough."[1] 

Anscombe's quartet is a set of four datasets with each dataset consisting of eleven x, y data points.

In [7]:
# importing the panda library
import pandas as pd

# creating a data frame using the panda csv function.
data_file = pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/datasets/anscombe.csv")

# Display the contents of the file
data_file

    Unnamed: 0  x1  x2  x3  x4     y1    y2     y3     y4
0            1  10  10  10   8   8.04  9.14   7.46   6.58
1            2   8   8   8   8   6.95  8.14   6.77   5.76
2            3  13  13  13   8   7.58  8.74  12.74   7.71
3            4   9   9   9   8   8.81  8.77   7.11   8.84
4            5  11  11  11   8   8.33  9.26   7.81   8.47
5            6  14  14  14   8   9.96  8.10   8.84   7.04
6            7   6   6   6   8   7.24  6.13   6.08   5.25
7            8   4   4   4  19   4.26  3.10   5.39  12.50
8            9  12  12  12   8  10.84  9.13   8.15   5.56
9           10   7   7   7   8   4.82  7.26   6.42   7.91
10          11   5   5   5   8   5.68  4.74   5.73   6.89


## Dataset Plots

## Descriptive Statistics

## Inference

## References 
1. https://en.wikipedia.org/wiki/Anscombe%27s_quartet, Anscombe, F. J. (1973). "Graphs in Statistical Analysis". American Statistician. 27 (1): 17–21. doi:10.1080/00031305.1973.10478966. JSTOR 2682899.